.feynman__title {
    margin: 0;
    margin-top: 100px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    max-width: 648px;
    position: relative;
    text-align: center;
    z-index: 1;
  }